<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button style="color: white;" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">
      NOTIFICATIONS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let alert of alerts">
    <ion-card-header>
      <ion-card-title>Wildlife Alerts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        Location: {{ alert.location }}<br>
        Time: {{ alert.time }}
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="full" shape="round" class="custom-button" (click)="reloadPastNotifications()" style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%);">
    Reload Past Notifications
  </ion-button>
</ion-content>