<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToTab1()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let alert of alerts">
    <ion-card-header>
      <ion-card-title>Wildlife Alerts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        **Location:** {{ alert.location }}<br>
        **Time:** {{ alert.time }}
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-button expand="full" shape="round" color="success" (click)="reloadPastNotifications()" style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%);">
    Reload Past Notifications
  </ion-button>
</ion-content>