@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');


/* Card */
ion-card {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  border-radius: 10px;
}

ion-card-title {
  font-weight: bold;
}

/* Button Positioning */
ion-button {
  /* Adjust positioning values as needed */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

ion-title {
  font-family: 'Monomaniac One', monospace;
  font-size: 24px;
}

ion-toolbar.custom-toolbar {
  --background: #2D5845;
}

ion-button {
  --background: #719754;
  text-transform: none;
}
