@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');


ion-title {
  font-family: 'Monomaniac One', monospace;
  font-size: 24px;
}

ion-button {
  --background: #38886B;
  text-transform: none;
}

/* Content */
.encounter-content {
  padding: 20px;
}

/* Card */
ion-card {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  border-radius: 10px;
}

ion-card-title {
  font-weight: bold;
}

/* Image */
ion-img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.custom-text {
  font-family: 'Open Sans', sans-serif;
}


