<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>ANIMALS DIARY</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showForm = !showForm">
        <ion-icon style="font-size: 20px;" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">animals-diary</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="showForm">
    <ion-card-header>
      <ion-card-title>Write your diary</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Today's Day</ion-label>
        <ion-input type="text" [(ngModel)]="day"></ion-input>
      </ion-item>
      <ion-button class="custom-button" expand="full" (click)="addEntry()">Done</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let entry of entries">

    <ion-card-content>
      Today's day
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>{{ entry?.day }}</ion-card-title>
    </ion-card-header>


  </ion-card>
</ion-content>